.main__chatlist {
  border-right: 1px solid #ebe7fb;
  padding: 0 40px 0 0px;
}
.chatlist__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatlist__items {
  margin-top: 30px;
  overflow: auto;
  max-height: calc(100vh - calc(80vh / 2));
}

.chatlist__item {
  display: flex;
  border-bottom: 1px solid #ebe7fb;
  padding-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px 10px 10px 20px;
}

.chatlist__item:first-child {
  margin-top: 0;
}

.chatlist__item .userMeta p {
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 600;
  font-size: 17px;
}

.chatlist__item:hover,
.chatlist__item.active {
  background: #fff;
  border-radius: 10px;
}