.Login__Google {
    
    margin-left: 195px;
    margin-top: 10px;
    width: 100px;
    padding: 30px;
    border-radius: 8px;
    
  
  }
  
  .Login__Lable
  {
    
    margin-top: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .Login
  {
    background-color: rgb(233, 225, 215);
    width: 500px;
    margin: 150px auto 10px auto;
    padding: 30px;
    border-radius: 8px;
  }