/* .App {
} */

.App-header {
  background-color: white;
  min-height: 100vh;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* font-size: calc(10px + 2vmin); */
  color: #282c34;
}

.Create-blog-btn{
  margin-left: auto;
  background-color: #282c34;
  border-radius: 5px;
}


