.WholeBodyField{
    background-color: #fafafa;
    width: 80%;
    height: auto;
    margin: auto;
    padding: auto;
    display: block;
}

.TitleInfoField{
    display: block;
    padding: 5%;
    margin-top: 5%;
    margin-left: 5%;
}

.AbstractInfoField{
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
}


.ContentInfoField{
    display: block;
    padding: 5%;
    margin-left: 5%;
}

.SubmitBtnField{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5%;
}